<!DOCTYPE html>
<html>
    <head>
        <title>Django blog</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>

        <header>
            <h1><a href="/">Django Blog</a></h1>
        </header>

        <section>
            <h2>Posts</h2>
            {% for post in posts %}
                <article>
                    <time>{{ post.published_date }}</time>
                    <h2><a href="">{{ post.title }}</a></h2>
                    <p>{{ post.text|linebreaksbr }}</p>
                </article>
            {% endfor %}
        </section>
    </body>
</html>