{% extends 'blog/base.html' %}

{% block content_post %}
<body>
    <section class="container">
        <h2>Posts</h2>
        <div class="row">
            {% for post in posts %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">{{ post.title }}</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ post.text|linebreaksbr }}</p>
                            <p class="card-text"><small class="text-muted">{{ post.published_date }}</small></p>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'post_detail' pk=post.pk %}" class="card-link">Lire la suite</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
</body>
{% endblock content_post %}