body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card {
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #6c5ce7;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.card-body {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 0 0 10px 10px;
}

.card-footer {
    background-color: #b3a9f7;
    color: #ffffff;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}

.card-footer .text-muted {
    color: #ffffff; /* Couleur du texte en blanc */
}

.card-text {
    font-size: 16px;
    color: #333333;
}

.card-text small {
    font-size: 14px;
    color: #666666;
}

.row {
    margin-bottom: 20px;
}

.col-md-12 {
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 10px;
}

h3 {
    font-size: 18px;
    color: #333333;
    margin-bottom: 10px;
}

.text-muted {
    color: #666666;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.form-control:disabled {
    background-color: #eeeeee;
    color: #666666;
}

.btn-primary {
    background-color: #6c5ce7;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #5c4ac7;
}